/vendor/
/web/core
/web/modules/contrib
/web/themes/contrib
/web/profiles
/web/sites/development.*
/web/sites/example.*
/web/sites/*/files
/web/sites/*/default.*.*
/.editorconfig
drupal/web/.csslintrc
/web/.eslintignore
/web/.eslintrc.json
/web/.ht.router.php
/web/INSTALL.txt
/web/README.md
/web/example.gitignore
/web/index.php
/web/modules/README.txt
drupal/web/robots.txt
/web/sites/README.txt
/web/themes/README.txt
/web/update.php
/web/web.config
