.page .form-actions > *,
.page .views-exposed-form > *,
.view-id-listing .view-filters {
  margin-top: 0;
}

#block-cart .cart,
.login-block {
  margin-top: 1.5em;
  text-align: right;
}

a.button {
  cursor: pointer;
  appearance: button;
}
